.about {
  width: 40%;
  // border: solid 1px;
  float: left;
  margin: 5px;
  padding: 10px;
  margin-left: 30%;
  margin-top: 8%;
  text-align: center;
  font-size: 21px;
  img {
    display: block;
    margin: auto;
  }
}

// .takepic {
//   width: 25%;
//   border: solid 1px;
//   float: left;
//   margin: 5px;
//   padding: 10px;
//   img {
//     display: block;
//     margin: auto;
//   }
// }
//
// .qanda {
//   width: 25%;
//   border: solid 1px;
//   float: left;
//   margin: 5px;
//   padding: 10px;
//   img {
//     display: block;
//     margin: auto;
//   }
// }
//
// .paid {
//   width: 25%;
//   border: solid 1px;
//   float: left;
//   margin: 5px;
//   padding: 10px;
//   img {
//     display: block;
//     margin: auto;
//   }
// }
//
//
//
// .ship {
//   width: 25%;
//   border: solid 1px;
//   float: left;
//   margin: 5px;
//   padding: 10px;
//   img {
//     display: block;
//     margin: auto;
//   }
// }

  // display: inline-block;
  // display:table;
  // text-align: center;
  // display: block;
  // margin: 0 auto;
  // }
