//Header styling
.hero-head {
  font-family: 'Gilda Display', serif;
}

//company name
.hero-body h1 {
  font-family: 'Lobster', cursive;
  font-weight: bolder;
  font-size: 40px;
}

.hero-foot {
  font-family: 'Gilda Display', serif;
}
//navbar for items
.container a {
  font-size: 20px;
}
