//Header styling
.hero {
  // background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_UNuffREsyIM5bjhPnDFXB4c8VPD2nIKHcFl5O6Dq8kKECvn7');
  // background-size: cover;
}


.hero-head {
  font-family: 'Gilda Display', serif;
  color: white;
}

//company name
.hero-body h1 {
  font-family: 'Lobster', cursive;
  font-weight: bolder;
  font-size: 40px;
}

.hero-foot {
  font-family: 'Gilda Display', serif;
}
//navbar for items
.container a {
  font-size: 20px;
}
