.section {
background-color: #EDEFF0;
}
//searchbar
.container-search {
  padding-bottom: 30px;
  max-width: 400px;
  display: inline-flex;
}

//
.container-content {
  // border: grey ridge 1px;
  padding: 50px;
  margin-right: -50px;
  margin-left: -50px;
}

.card-image {
  margin: 5px;
  height: 350px;
}


//index page card content - info on clothes styling
.card-content {
  text-align: center;
}
.card-content h2 {
  font-size: 15px;
}

.card-image {
  min-height: 300px;
  min-width: 300px;
}
.image-indexpic {
  min-width: 250px;
}

.searchbar {
  padding: 10px;
}
