

.content-bottom h4 {
  font-family: 'Gilda Display', serif;
  font-size: 18px;
  margin: 20px;
  h2 {
    font-family: 'Gilda Display', serif;
    font-size: 22px;
    color: red;
  }
}

.content-mid {
  padding: 12px;
}
