.section-members .container-content {
  background-color: #efefef;
  .card-content {
    max-height: 100px;
    // .content h5 {
    //   font-size: 20px;
    //   text-align: center;
    // }
  }
}

.section-members .content h5 {
  font-size: 20px;
  text-align: center;
}
.card-image-members img {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  .card {
    // background-color: #EDEFF0;
    // padding-bottom: 20px;
  }
}
//
.card-image-members .card {
  // max-width: 225px;
  // max-height: 200px;
  // background-color: #EDEFF0;
  // padding-bottom: 20px;
}
