.section {
  font-family: 'Gilda Display', serif;
}

.content-info h4 {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
.media-profileinfo {
  border: 1px #dfdfdf solid;
  text-align: center;
}

.media-profileinfo .media-content-image img  {
  margin-left: 40%;
  margin-top: 2%;
  text-align: center;
  max-height: 256px;
  max-width: 256px;
  border-radius: 50%;
  border: 1px #dfdfdf 1px solid;
  display: flex;
}

.image-selling img {
  min-width: 330px;
  min-height: 330px;
  border: none;
  margin: 0 auto;
}

.image-selling {
  display: flex;
}
//comment field not in use
.content-comment form {
  max-width: 650px;
}
